.advantages {
  padding: 15px;
  border: 1px solid Cyan;
  margin-bottom: px;
}

.advantages__list {
  list-style-type: none;
}

.advantages__item {
  border: 1px solid red;
  min-height: 250px;
  padding-top: 70px;
  position: relative;
  margin-bottom: 40px;

  &--one::before {
    content: "01";
  }

  &--two::before {
    content: "02";
  }

  &--three::before {
    content: "03";
  }

  &--four::before {
    content: "04";
  }
}

.advantages__item::before {
  font-family: $secondary-font;
  font-weight: bold;
  font-size: 85px;
  line-height: 0;
  top: 15px;
  left: 0;
  position: absolute;
  color: #fde3c9;
}

.advantages__title {
  color: #1a292f;
  margin-bottom: 20px;
}

.advantages__text {
  color: #838383;
}

@media (min-width: $tablet-min-width) {
  .advantages {
    padding: 35px;
  }

  .advantages__list {
    display: flex;
    flex-wrap: wrap;
  }

  .advantages__item {
    width: 50%;
    margin-bottom: 0;
    padding-right: 65px;

    &:nth-child(2n) {
      margin-top: 165px;
    }
  }
}

@media (min-width: $desktop-min-width) {
  .advantages {
    padding: 95px;
  }

  .advantages__centering {
    @include desktop-centering;
  }

  .advantages__item {
    width: 25%;
  }
}
