.client {
  background-color: #ffffff;
  padding: 195px 15px 50px 15px;
  display: none;

  &--active {
    display: block;
  }
}

.client__wrapper {
  position: relative;
}

.client__photo {
  position: absolute;
  top: -245px;
  left: calc(50% - 107px);
}

.client__name {
  color: #313131;
  margin-bottom: 10px;
}

.client__service {
  font-family: $primary-font;
  font-weight: 700;
  font-size: 18px;
  color: #efb172;
  margin-bottom: 20px;
}

.client__comment {
  font-family: $primary-font;
  font-weight: 300;
  font-size: 20px;
  line-height: 30px;
  color: #5e5e5e;
}

@media (min-width: $tablet-min-width) {
  .client {
    padding: 50px 140px 50px 70px;
    text-align: left;
    margin-right: 45px;
  }

  .client__photo {
    right: -220px;
    left: auto;
    top: calc(50% - 107px);
  }

  .client__service {
    letter-spacing: 1px;
  }

  .client__comment {
    font-size: 16px;
    line-height: 25px;
  }
}

@media (min-width: $desktop-min-width) {
  .client {
    width: 650px;
    margin-left: -72px;
    min-height: 275px;
  }

  .client::before {
    content: "";
    width: 214px;
    height: 214px;
    position: absolute;
    top: calc(50% - 107px);
    left: 0;
    background-repeat: no-repeat;
    background-size: contain;
  }

  .client--one::before {
    background-image: url("../img/client-3.jpg");
  }

  .client--two::before {
    background-image: url("../img/client-1.jpg");
  }

  .client--three::before {
    background-image: url("../img/client-2.jpg");
  }

  .client::after {
    content: "";
    width: 214px;
    height: 214px;
    position: absolute;
    top: calc(50% - 107px);
    right: 0;
    background-repeat: no-repeat;
    background-size: contain;
  }

  .client--one::after {
    background-image: url("../img/client-2.jpg");
  }

  .client--two::after {
    background-image: url("../img/client-3.jpg");
  }

  .client--three::after {
    background-image: url("../img/client-1.jpg");
  }

  .client__photo {
    right: -280px;
    top: calc(50% - 107px);
  }

  .client__service {
    font-size: 16px;
  }
}
