.footer {
  height: 408px;
  background-color: $secondary-background-color;
  padding: 100px 15px 90px 15px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.footer__copyright-text {
  font-family: $primary-font;
  font-weight: 500;
  font-weight: 20px;
  line-height: 30px;
  color: #ffc487;
}
