.header {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  z-index: 5;
  padding: 15px;
}

.header__wrapper {
  min-height: 45px;
  display: flex;
  align-items: center;
}

.header__navigation-mask {
  display: none;

  &--active {
    display: block;
  }
}

.header__toggle {
  z-index: 10;
  position: absolute;
  top: auto;
  right: 15px;
}

.header__phone {
  display: none;
}

@media (min-width: $tablet-min-width) {
  .header {
    padding: 35px;
  }

  .header__logo-link {
    img {
      height: 45px;
      width: 83px;
    }
  }

  .header__toggle {
    right: 35px;
  }
}

@media (min-width: $desktop-min-width) {
  .header {
    padding: 35px 95px;
  }

  .header__centering {
    @include desktop-centering;
    position: relative;
  }

  .header__logo {
    position: absolute;
    top: 30px;
    left: 50%;
  }

  .header__toggle {
    right: auto;
    left: 5px;
    top: 0;
  }

  .header__phone {
    display: block;
    position: absolute;
    top: 0;
    right: 5px;
  }

  .header__phone-number {
    font-size: 14px;
    color: #252525;
    text-decoration: none;
    display: flex;
    align-items: center;
  }

  .header__phone-icon,
  .header__phone-text {
    display: inline-block;
  }

  .header__social {
    display: none;
  }
}
