.hero {
  padding: 15px;
  padding-top: 160px;
  min-height: 608px;
  position: relative;
  z-index: 0;
  background-image: url("../img/hero-background.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-color: $secondary-background-color;
  text-align: center;
  margin-bottom: 55px;

  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: $secondary-background-color;
    opacity: 0.9;
    z-index: 5;
  }
}

.hero__wrapper {
  position: relative;
  z-index: 10;
}

.hero__title {
  margin-bottom: 25px;
}

.hero__slogan {
  margin-bottom: 30px;
  color: #ffffff;
}

.hero__button {
  height: 54px;
  width: 223px;
  background-color: #f8a25a;
  font-family: $primary-font;
  font-weight: 800;
  font-size: 14px;
  letter-spacing: 1px;
  color: #ffffff;
  border: 0;
  text-align: center;
  cursor: pointer;
  text-transform: uppercase;
  margin-bottom: 30px;
}

.hero__arrow-wrapper {
  display: flex;
}

.hero__arrow {
  display: block;
  height: 58px;
  width: 14px;
  background-image: url("../img/arrow.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  margin: 0 auto;
}

.hero__social {
  display: none;
}

@media (min-width: $tablet-min-width) {
  .hero {
    padding: 35px;
    padding-top: 300px;
    min-height: 1110px;
  }

  .hero__centering {
    @include tablet-centering;
  }

  .hero__title {
    margin-bottom: 50px;
  }

  .hero__slogan {
    margin-bottom: 60px;
    font-weight: 500;
  }

  .hero__button {
    width: 440px;
    height: 110px;
    font-size: 30px;
    margin-bottom: 104px;
  }

  .hero__arrow {
    height: 82px;
    width: 20px;
  }
}

@media (min-width: $desktop-min-width) {
  .hero {
    background-image: url("../img/hero-desktop.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: auto;
    background-color: $primary-background-color;
    min-height: 770px;
    margin-bottom: 0;

    &::after {
      display: none;
    }
  }

  .hero__centering {
    margin-left: auto;
    margin-right: 0;
    max-width: 650px;
    padding-right: 50px;
    position: relative;
  }

  .hero__wrapper {
    width: 50%;
    height: 770px;
    text-align: left;
    background-color: $secondary-background-color;
    opacity: 0.97;
    position: absolute;
    top: 0;
    left: 0;
    padding: 250px 0 50px 95px;
  }

  .hero__title {
    margin-bottom: 20px;
  }

  .hero__slogan {
    padding-right: 150px;
    margin-bottom: 35px;
    letter-spacing: 1px;
  }

  .hero__button {
    width: 277px;
    height: 56px;
    font-size: 15px;
    line-height: 56px;
    letter-spacing: 2px;
    background-color: transparent;
    border: 2px solid #ffffff;

    &:hover {
      background-color: #f8a25a;
    }
  }

  .hero__arrow {
    display: none;
  }

  .hero__social {
    display: block;
    position: absolute;
    bottom: -105px;
    left: 0;
  }
}
