.hero {
  padding: 15px;
  padding-top: 160px;
  height: 608px;
  position: relative;
  z-index: 0;
  background-image: url("../img/hero-mobile.jpg");
  background-repeat: no-repeat;
  background-position: center top;
  text-align: center;
  margin-bottom: 55px;
}

.hero__title {
  margin-bottom: 25px;
}

.hero__slogan {
  margin-bottom: 30px;
  color: #ffffff;
}

.hero__button {
  height: 54px;
  width: 223px;
  background-color: #f8a25a;
  font-family: $primary-font;
  font-weight: 800;
  font-size: 14px;
  letter-spacing: 0.1em;
  color: #ffffff;
  border: 0;
  text-align: center;
  cursor: pointer;
  text-transform: uppercase;
  margin-bottom: 30px;
}

.hero__arrow-wrapper {
  display: flex;
}

.hero__arrow {
  display: block;
  height: 58px;
  width: 14px;
  background-image: url("../img/arrow.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  margin: 0 auto;
}
