.navigation {
  background-color: #112537;
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  padding-top: 100px;
  min-height: 608px;
}

.navigation__list {
  list-style-type: none;
  text-align: center;
}

.navigation__item {
  margin-bottom: 20px;

  &:last-child {
    margin-bottom: 50px;
  }
}

.navigation__link {
  text-decoration: none;
  font-size: 20px;
  line-height: 42px;
  font-family: $primary-font;
  color: #ffffff;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 2px;
}

@media (min-width: $tablet-min-width) {
  .navigation {
    min-height: 1110px;
    padding-top: 230px;
  }

  .navigation__item {
    margin-bottom: 70px;

    &:last-child {
      margin-bottom: 100px;
    }
  }

  .navigation__link {
    font-size: 35px;
    letter-spacing: 5px;
  }
}

@media (min-width: $desktop-min-width) {
  .navigation {
    min-height: 595px;
    padding-top: 130px;
    right: 0;
    left: 0;
    top: 50px;
    bottom: 90px;
  }

  .navigation__item {
    margin-bottom: 20px;
  }

  .navigation__link {
    font-size: 20px;
    letter-spacing: 2px;
    opacity: 0.5;

    &:hover {
      color: $hover-color;
      opacity: 1;
    }

    &--active {
      opacity: 1;
    }
  }
}
