.portfolio {
  padding: 15px;
  margin-bottom: 65px;
  border: 1px solid green;
}

.portfolio__title {
  margin-bottom: 40px;
  text-align: center;
  color: $secondary-font-color;
}

.portfolio__list {
  list-style-type: none;
}

.portfolio__item {
  font-family: $primary-font;
  font-weight: 400;
  color: $primary-font-color;
  font-size: 22px;
  margin-bottom: 30px;

  &--active {
    color: $secondary-font-color;
    font-weight: 500;
  }
}

.portfolio__slider-item {
  text-align: center;

  &--boho,
  &--loft {
    display: none;
  }
}

.portfolio__slider-figcaption {
  font-family: $primary-font;
  font-size: 18px;
  color: $secondary-font-color;
}

@media (min-width: $tablet-min-width) {
  .portfolio {
    padding: 35px;
  }

  .portfolio__title {
    text-align: left;
  }

  .portfolio__list {
    display: flex;
    justify-content: space-between;
  }

  .portfolio__slider-figcaption {
    font-size: 20px;
    font-weight: 500;
  }
}
