.reviews {
  text-align: center;
  border: 1px solid green;
  padding: 15px;
  padding-bottom: 200px;
  background-color: pink;
}

.reviews__title {
  margin-bottom: 80px;
}

.reviews__list {
  list-style-type: none;
}

.reviews__item {
  margin-bottom: 50px;
}

.reviews__button {
  height: 3px;
  width: 26px;
  background-color: #cdd3cf;
  border: 0;
  cursor: pointer;
  margin-right: 12px;
  margin-top: auto;

  &--active {
    background-color: #1a444a;
  }
}

@media (min-width: $tablet-min-width) {
  .reviews {
    padding: 35px;
    padding-bottom: 150px;
  }

  .reviews__title {
    text-align: left;
  }
}

@media (min-width: $desktop-min-width) {
  .reviews__item {
    margin-bottom: 80px;
  }
}
