.services {
  margin-bottom: 80px;
  padding: 15px;
  border: 1px solid blue;
}

.services__title {
  margin-bottom: 40px;
  text-align: center;
  color: $secondary-font-color;
}

.services__list {
  list-style-type: none;
}

.services__item {
  font-family: $primary-font;
  font-weight: 300;
  font-size: 22px;
  color: #7d7d7d;
  margin-bottom: 35px;

  &--active {
    color: $secondary-font-color;
    font-weight: 400;
  }
}

.services__slider-image {
  margin-left: -15px;
  margin-right: -15px;
  width: calc(100% + 30px);
  max-width: calc(100% + 30px);
  margin-bottom: 30px;
}

.services__slider-title {
  display: none;
}

.services__slider-text {
  font-family: $primary-font;
  font-size: 20px;
  line-height: 30px;
  color: #5e5e5e;
  font-weight: 300;
  margin-bottom: 50px;
}

.services__slider-button {
  height: 56px;
  width: 217px;
  background-color: $primary-background-color;
  font-family: $primary-font;
  font-weight: 800;
  font-size: 15px;
  letter-spacing: 0.1em;
  color: $secondary-font-color;
  border: 2px solid $secondary-font-color;
  text-decoration: none;
  text-align: center;
  cursor: pointer;
  text-transform: uppercase;
  display: block;
  line-height: 56px;
  margin: 0 auto;
}

.services__slider-amount {
  display: none;
}

@media (min-width: $tablet-min-width) {
  .services {
    padding: 35px;
  }

  .services__title {
    text-align: left;
  }

  .services__list {
    display: flex;
    flex-wrap: wrap;
  }

  .services__item {
    width: 50%;
    margin-bottom: 80px;

    &--active {
      font-weight: 500;
    }
  }

  .services__slider-list {
    display: flex;
  }

  .services__slider-item-wrapper {
    padding-right: 200px;
    position: relative;
  }

  .services__slider-title {
    display: block;
    font-family: $secondary-font;
    font-size: 30px;
    font-weight: 400;
    color: $secondary-font-color;
    margin-bottom: 20px;
  }

  .services__slider-text {
    font-size: 18px;
  }

  .services__slider-amount {
    display: block;
    font-family: $primary-font;
    font-size: 22px;
    color: $secondary-background-color;
    position: absolute;
    right: 0;
    top: 0;
  }

  .services__slider-button {
    font-size: 18px;
    width: 340px;
    height: 68px;
    line-height: 68px;
    margin: 0;
  }
}

@media (min-width: $desktop-min-width) {
  .services {
    padding: 55px 95px;
    margin-bottom: 60px;
  }

  .services__centering {
    @include desktop-centering;
  }

  .services__title {
    margin-bottom: 50px;
  }

  .services__slider-wrapper {
    display: flex;
  }

  .services__list {
    flex-direction: column;
    flex-wrap: nowrap;
    flex-grow: 1;
    padding-top: 10px;
  }

  .services__item {
    width: 200px;
    font-size: 18px;
    line-height: 23px;
    margin-bottom: 65px;
    cursor: pointer;

    &--active {
      width: 250px;
      padding-left: 30px;
      font-weight: bold;
    }
  }

  .services__slider-item-wrapper {
    padding-right: 360px;
  }

  .services__slider-list {
    flex-basis: 880px;
  }

  .services__slider-image {
    width: 880px;
    height: 390px;
    margin-left: 0;
    margin-right: 0;
  }

  .services__slider-button {
    width: 217px;
    height: 56px;
    line-height: 56px;
    font-size: 15px;
    position: absolute;
    right: 0;
    top: 105px;

    &:hover {
      background-color: #f8a25a;
      color: #ffffff;
      border: none;
    }
  }
}
