.social__list {
  list-style-type: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

.social__item {
  display: block;

  &:not(:last-child) {
    margin-right: 70px;
  }
}

.social__icon {
  display: block;

  path {
    fill: #ffffff;
  }
}

@media (min-width: $tablet-min-width) {
  .social {
    &--header {
      .social__item:not(:last-child) {
        margin-right: 105px;
      }
    }

    &--footer {
      .social__item:not(:last-child) {
        margin-right: 47px;
      }
    }
  }

  .social__icon {
    &--vk {
      width: 37px;
      height: 24px;
    }

    &--instagram {
      width: 37px;
      height: 37px;
    }

    &--facebook {
      width: 21px;
      height: 37px;
    }
  }
}

@media (min-width: $desktop-min-width) {
  .social {
    &--hero {
      .social__item:not(:last-child) {
        margin-right: 36px;
      }
    }

    .social__item {
      &:hover {
        .social__icon {
          path {
            fill: $hover-color;
          }
        }
      }
    }

    .social__icon {
      &--vk {
        width: 14px;
        height: 10px;
      }

      &--instagram {
        width: 14px;
        height: 14px;
      }

      &--facebook {
        width: 7px;
        height: 14px;
      }
    }
  }
}
