.stages {
  margin-bottom: 55px;
  padding: 15px;
}

.stages__title {
  margin-bottom: 40px;
  text-align: center;
  color: $secondary-font-color;
}

.stages__list {
  list-style-type: none;
}

.stages__item {
  margin-bottom: 45px;
}

.stages__like-title {
  margin-bottom: 30px;
  position: relative;
  color: #313131;
}

.stages__like-title::after {
  content: "";
  position: absolute;
  width: 41px;
  height: 1px;
  background-color: $secondary-font-color;
  top: 43px;
  left: 0;
}

.stages__text {
  color: #5e5e5e;
}

@media (min-width: $tablet-min-width) {
  .stages {
    padding: 35px;
  }

  .stages__title {
    text-align: left;
  }

  .stages__list {
    display: flex;
    flex-wrap: wrap;
  }

  .stages__item {
    width: 50%;
    padding-left: 70px;
    margin-bottom: 80px;
    position: relative;
  }

  .stages__item::before {
    position: absolute;
    width: 22px;
    height: 22px;
    border-radius: 50%;
    background-color: #fde5d1;
    top: 0;
    left: 20px;
    font-family: "Arial", sans-serif;;
    font-size: 12px;
    line-height: 22px;
    font-weight: 500;
    text-align: center;
  }

  .stages__item--one::before {
    content: "1";
  }

  .stages__item--two::before {
    content: "2";
  }

  .stages__item--three::before {
    content: "3";
  }

  .stages__item--four::before {
    content: "4";
  }

  .stages__item--five::before {
    content: "5";
  }

  .stages__item--six::before {
    content: "6";
  }

  .stages__text {
    font-size: 16px;
    line-height: 25px;
  }
}

@media (min-width: $desktop-min-width) {
  .stages {
    padding: 55px 95px;
    margin-bottom: 0;
  }

  .stages__centering {
    @include desktop-centering;
  }

  .stages__list {
    justify-content: space-between;
  }

  .stages__item {
    width: 30%;
  }
}
