.title {
  &--big {
    font-family: $secondary-font;
    font-size: 48px;
    line-height: 48px;
    color: #ffffff;
    font-weight: bold;
  }

  &--middle {
    font-family: $secondary-font;
    font-size: 45px;
    font-weight: bold;
  }

  &--little {
    font-family: $primary-font;
    font-size: 24px;
    line-height: 30px;
    font-weight: 600;
  }
}

@media (min-width: $tablet-min-width) {
  .title {
    &--big {
      font-size: 100px;
      line-height: 100px;
    }
  }
}

@media (min-width: $desktop-min-width) {
  .title {
    &--big {
      font-size: 60px;
      line-height: 60px;
    }

    &--little {
      font-size: 22px;
    }
  }
}
