.toggle {
  position: absolute;
  top: auto;
  right: 15px;
  width: 40px;
  height: 40px;
}

.toggle__input {
  display: none;
}

.toggle__label {
  position: relative;
  width: 40px;
  height: 40px;
  display: block;
  cursor: pointer;
  background: transparent;
}

/* Exit Icon */

.toggle__label::before,
.toggle__input:checked + .toggle__label::before {
  content: "";
  position: absolute;
  top: 50%;
  margin-top: -2px;
  width: 40px;
  height: 4px;
  border-radius: 2px;
  background: #ffffff;
}

.toggle__label::before {
  animation: animationonereverse 1s ease forwards;
}

@keyframes animationonereverse {
  0% {
    transform: rotate(315deg);
  }

  25% {
    transform: rotate(360deg);
  }

  50%,
  100% {
    transform: rotate(0deg);
  }
}

.toggle__input:checked + .toggle__label::before {
  animation: animationone 1s ease forwards;
}

@keyframes animationone {
  0%,
  50% {
    transform: rotate(0deg);
  }

  75% {
    transform: rotate(360deg);
  }

  100% {
    transform: rotate(315deg);
  }
}

.toggle__label::after,
.toggle__input:checked + .toggle__label::after {
  content: "";
  position: absolute;
  top: 50%;
  margin-top: -2px;
  width: 40px;
  height: 4px;
  border-radius: 2px;
  background: #ffffff;
}

.toggle__label::after {
  animation: animationtworeverse 1s ease forwards;
}

@keyframes animationtworeverse {
  0% {
    transform: rotate(405deg);
  }

  25% {
    transform: rotate(450deg);
  }

  50%,
  100% {
    transform: rotate(0deg);
  }
}

.toggle__input:checked + .toggle__label::after {
  animation: animationtwo 1s ease forwards;
}

@keyframes animationtwo {
  0%,
  50% {
    transform: rotate(0deg);
  }

  75% {
    transform: rotate(450deg);
  }

  100% {
    transform: rotate(405deg);
  }
}

/* Burger Icon */
.toggle__label .toggle__burger::before {
  content: "";
  position: absolute;
  top: 6px;
  width: 40px;
  height: 4px;
  border-radius: 2px;
  background: #ffffff;
  animation: animationburgertopreverse 1s ease forwards;
}

@keyframes animationburgertopreverse {
  0%,
  50% {
    transform: translateY(12px);
    opacity: 0;
  }

  51% {
    transform: translateY(12px);
    opacity: 1;
  }

  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

.toggle__input:checked + .toggle__label .toggle__burger::before {
  animation: animationburgertop 1s ease forwards;
}

@keyframes animationburgertop {
  0% {
    transform: translateY(0);
    opacity: 1;
  }

  50% {
    transform: translateY(12px);
    opacity: 1;
  }

  51%,
  100% {
    transform: translateY(12px);
    opacity: 0;
  }
}

.toggle__label .toggle__burger::after {
  content: "";
  position: absolute;
  bottom: 6px;
  width: 40px;
  height: 4px;
  border-radius: 2px;
  background: #ffffff;
  animation: animationburgerbottomreverse 1s ease forwards;
}

@keyframes animationburgerbottomreverse {
  0%,
  50% {
    transform: translateY(-12px);
    opacity: 0;
  }

  51% {
    transform: translateY(-12px);
    opacity: 1;
  }

  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

.toggle__input:checked + .toggle__label .toggle__burger::after {
  animation: animationburgerbottom 1s ease forwards;
}

@keyframes animationburgerbottom {
  0% {
    transform: translateY(0);
    opacity: 1;
  }

  50% {
    transform: translateY(-12px);
    opacity: 1;
  }

  51%,
  100% {
    transform: translateY(-12px);
    opacity: 0;
  }
}
