.toggle {
  position: absolute;
  top: 25%;
  right: 15px;
  width: 40px;
  height: 40px;
}

.toggle__input {
  display: none;
}

.toggle__label {
  position: relative;
  width: 40px;
  height: 40px;
  display: block;
  cursor: pointer;
  background: transparent;
}

/* Exit Icon */

.toggle__label::before,
.toggle__input:checked + .toggle__label::before {
  content: '';
  position: absolute;
  top: 50%;
  margin-top: -2px;
  width: 40px;
  height: 4px;
  border-radius: 2px;
  background: #fafafa;
}

.toggle__label::before {
  -webkit-animation: animationOneReverse 1s ease forwards;
  animation: animationOneReverse 1s ease forwards;
}

@-webkit-keyframes animationOneReverse {
  0% { -webkit-transform: rotate(315deg); }
  25% { -webkit-transform: rotate(360deg); }
  50%, 100% { -webkit-transform: rotate(0deg); }
}

@keyframes animationOneReverse {
  0% { transform: rotate(315deg); }
  25% { transform: rotate(360deg); }
  50%, 100% { transform: rotate(0deg); }
}

.toggle__input:checked + .toggle__label::before {
  -webkit-animation: animationOne 1s ease forwards;
  animation: animationOne 1s ease forwards;
}

@-webkit-keyframes animationOne {
  0%, 50% { -webkit-transform: rotate(0deg); }
  75% { -webkit-transform: rotate(360deg); }
  100% { -webkit-transform: rotate(315deg); }
}

@keyframes animationOne {
  0%, 50% { transform: rotate(0deg); }
  75% { transform: rotate(360deg); }
  100% { transform: rotate(315deg); }
}

.toggle__label::after,
.toggle__input:checked + .toggle__label::after {
  content: '';
  position: absolute;
  top: 50%;
  margin-top: -2px;
  width: 40px;
  height: 4px;
  border-radius: 2px;
  background: #fafafa;
}

.toggle__label::after {
  -webkit-animation: animationTwoReverse 1s ease forwards;
  animation: animationTwoReverse 1s ease forwards;
}

@-webkit-keyframes animationTwoReverse {
  0% { -webkit-transform: rotate(405deg); }
  25% { -webkit-transform: rotate(450deg); }
  50%, 100% { -webkit-transform: rotate(0deg); }
}

@keyframes animationTwoReverse {
  0% { transform: rotate(405deg); }
  25% { transform: rotate(450deg); }
  50%, 100% { transform: rotate(0deg); }
}

.toggle__input:checked + .toggle__label::after {
  -webkit-animation: animationTwo 1s ease forwards;
  animation: animationTwo 1s ease forwards;
}

@-webkit-keyframes animationTwo {
  0%, 50% { -webkit-transform: rotate(0deg); }
  75% { -webkit-transform: rotate(450deg); }
  100% { -webkit-transform: rotate(405deg); }
}

@keyframes animationTwo {
  0%, 50% { transform: rotate(0deg); }
  75% { transform: rotate(450deg); }
  100% { transform: rotate(405deg); }
}

/* Burger Icon */
.toggle__label .toggle__burger::before {
  content: '';
  position: absolute;
  top: 6px;
  width: 40px;
  height: 4px;
  border-radius: 2px;
  background: #fafafa;
  -webkit-animation: animationBurgerTopReverse 1s ease forwards;
  animation: animationBurgerTopReverse 1s ease forwards;
}

@-webkit-keyframes animationBurgerTopReverse {
  0%, 50% { -webkit-transform: translateY(12px); opacity: 0; }
  51% { -webkit-transform: translateY(12px); opacity: 1; }
  100% { -webkit-transform: translateY(0px); opacity: 1; }
}

@keyframes animationBurgerTopReverse {
  0%, 50% { transform: translateY(12px); opacity: 0; }
  51% { transform: translateY(12px); opacity: 1; }
  100% { transform: translateY(0px); opacity: 1; }
}

.toggle__input:checked + .toggle__label .toggle__burger::before {
  -webkit-animation: animationBurgerTop 1s ease forwards;
  animation: animationBurgerTop 1s ease forwards;
}

@-webkit-keyframes animationBurgerTop {
  0% { -webkit-transform: translateY(0px); opacity: 1; }
  50% { -webkit-transform: translateY(12px); opacity: 1; }
  51%, 100% { -webkit-transform: translateY(12px); opacity: 0; }
}

@keyframes animationBurgerTop {
  0% { transform: translateY(0px); opacity: 1; }
  50% { transform: translateY(12px); opacity: 1; }
  51%, 100% { transform: translateY(12px); opacity: 0; }
}

.toggle__label .toggle__burger::after {
  content: '';
  position: absolute;
  bottom: 6px;
  width: 40px;
  height: 4px;
  border-radius: 2px;
  background: #fafafa;
  -webkit-animation: animationBurgerBottomReverse 1s ease forwards;
  animation: animationBurgerBottomReverse 1s ease forwards;
}

@-webkit-keyframes animationBurgerBottomReverse {
  0%, 50% { -webkit-transform: translateY(-12px); opacity: 0; }
  51% { -webkit-transform: translateY(-12px); opacity: 1; }
  100% { -webkit-transform: translateY(0px); opacity: 1; }
}

@keyframes animationBurgerBottomReverse {
  0%, 50% { transform: translateY(-12px); opacity: 0; }
  51% { transform: translateY(-12px); opacity: 1; }
  100% { transform: translateY(0px); opacity: 1; }
}

.toggle__input:checked + .toggle__label .toggle__burger::after {
  -webkit-animation: animationBurgerBottom 1s ease forwards;
  animation: animationBurgerBottom 1s ease forwards;
}

@-webkit-keyframes animationBurgerBottom {
  0% { -webkit-transform: translateY(0px); opacity: 1; }
  50% { -webkit-transform: translateY(-12px); opacity: 1; }
  51%, 100% { -webkit-transform: translateY(-12px); opacity: 0; }
}

@keyframes animationBurgerBottom {
  0% { transform: translateY(0px); opacity: 1; }
  50% { transform: translateY(-12px); opacity: 1; }
  51%, 100% { transform: translateY(-12px); opacity: 0; }
}
