$primary-font: "Raleway", arial, sans-serif;
$secondary-font: "Playfair Display", georgia, serif;
$primary-font-color: #bababa; //светло-серый
$secondary-font-color: #00203a; //синий
$primary-background-color: #fdfaf3; //беж
$secondary-background-color: #182c3d; //изумрудный
$tablet-min-width: 768px;
$desktop-min-width: 1360px;
$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;
