.video {
  margin-bottom: 100px;
  background-image: url("../img/video-img.jpg");
  background-repeat: no-repeat;
  background-color: $secondary-background-color;
  background-position: center;
  background-size: cover;
  min-height: 620px;
  padding: 15px;
  padding-top: 225px;
  position: relative;
}

.video__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.video__button {
  width: 84px;
  height: 84px;
  background-color: #f5b77f;
  border-radius: 50%;
  border: none;
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
  cursor: pointer;
}

.video__icon {
  width: 25px;
  height: 25px;
  margin-left: 7px;
}

.video__text {
  font-family: $primary-font;
  font-weight: 300;
  font-size: 22px;
  line-height: 30px;
  color: #ffffff;
  text-align: center;
}

.video__modal {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 100;
  display: none;

  &--active {
    display: block;
  }

  iframe {
    position: absolute;
    width: 100%;
    height: 100%;
  }
}

.video__close-button {
  width: 84px;
  height: 84px;
  background-color: #fcbd84;
  border: none;
  border-radius: 50%;
  position: absolute;
  top: 20px;
  right: 20px;
  cursor: pointer;

  .icon {
    width: 50px;
    height: 50px;
    fill: #ffffff;
    transform: rotate(45deg);
  }
}

@media (min-width: $tablet-min-width) {
  .video {
    padding: 35px;
    padding-top: 310px;
    min-height: 814px;
  }

  .video__button {
    width: 128px;
    height: 128px;
  }

  .video__icon {
    width: 40px;
    height: 40px;
  }

  .video__modal {
    min-height: 814px;
  }
}

@media (min-width: $desktop-min-width) {
  .video {
    margin-bottom: 60px;
    background-image: url("../img/video-desktop.jpg");
  }

  .video__centering {
    @include desktop-centering;
  }

  .video__button {
    width: 84px;
    height: 84px;
    margin-bottom: 25px;
  }

  .video__icon {
    width: 25px;
    height: 25px;
  }

  .video__text {
    font-size: 18px;
  }

  .video__close-button,
  .video__button {
    &:hover {
      transform: scale(1.1);
    }
  }
}
